<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util.xsd">

    <!-->M1无参构造<-->
    <bean id="student" class="QuickStart.Student"/>
    <!-->M2申明对象,并进行实例<-->
    <bean id="student2" class="QuickStart.Student">
        <property name="name" value="xiaobao"/>
        <property name="age" value="23"/>
        <property name="sex" value="male"/>
    </bean>
    <!-->M3有参构造创建属性<-->
    <bean id="student3" class="QuickStart.Student">
        <constructor-arg name="name" value="chuyu"/>
        <constructor-arg name="age" value="24"/>
        <constructor-arg name="sex" value="male"/>
    </bean>
    <!-->M4使用命名空间<-->
    <bean id="student4" class="QuickStart.Student" p:age="24" p:sex="male" p:name="59"/>

    <!-->null值设定<-->
    <bean id="student1" class="Literal.Student">
        <property name="name" value="xiaobao"/>
        <property name="sex">
            <null/>
        </property>
        <property name="age" value="24"/>
    </bean>
    <bean id="student5" class="Literal.Student">
        <property name="age">
            <null/>
        </property>
        <property name="name" value="Gadaite"/>
        <property name="sex" value="male"/>
    </bean>
    <bean id="student6" class="Literal.Student">
        <property name="age">
            <null/>
        </property>
        <property name="name">
            <value><![CDATA[<<<<>?><><>><>>>]]></value>
        </property>
        <property name="sex" value="male"/>
    </bean>
    <bean id="student7" class="Literal.Student">
        <property name="age">
            <null/>
        </property>
        <property name="name" value="&lt;&gt;?&lt;&gt;"/>
        <property name="sex" value="male"/>
    </bean>

    <!-->创建service和dao的对象,外部Bean的注入<-->
    <bean id="userService" class="ServiceAndDao.PackageOne.Service.UserService">
        <!-->service中注入Dao的对象<-->
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userDao" class="ServiceAndDao.PackageOne.Dao.UserDaoImpl"/>

    <!-->内部Bean注入操作<-->
    <bean id="emp" class="JavaBean.Emp">
        <property name="ename" value="Gadaite"/>
        <property name="gender" value="male"/>
        <property name="dept">
            <bean id="dept" class="JavaBean.Dept">
                <property name="dname" value="technology"/>
            </bean>
        </property>
    </bean>

    <!-->级联赋值M1<-->
    <bean id="emp2" class="JavaBean.Emp">
        <property name="ename" value="Gadaite"/>
        <property name="gender" value="male"/>
        <property name="dept" ref="dept2"/>
    </bean>
    <bean id="dept2" class="JavaBean.Dept">
        <property name="dname" value="Finance"/>
    </bean>
    <!-->级联赋值M2<-->
    <bean id="emp3" class="JavaBean.Emp">
        <property name="ename" value="Gadaite"/>
        <property name="gender" value="male"/>
        <property name="dept" ref="dept3"/>
        <!--需要在类中使用Get方法拿到属性对应的值-->
        <property name="dept.dname" value="Personnel"/>
    </bean>
    <bean id="dept3" class="JavaBean.Dept"/>
    <bean id="stu1" class="CollectionXml.Stu">
        <property name="cource">
            <array>
                <value>hadoop</value>
                <value>flink</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>Gadaite</value>
                <value>xiaobao</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="xiaobao" value="Java"/>
                <entry key="Gadaite" value="Scala"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>mysql</value>
                <value>redis</value>
            </set>
        </property>
        <property name="courceList">
            <list>
                <ref bean="cource1"/>
                <ref bean="cource2"/>
                <ref bean="cource3"/>
                <ref bean="cource3"/>
            </list>
        </property>
    </bean>
    <bean id="cource1" class="CollectionXml.Cource"><property name="cource" value="Hadoop"/> </bean>
    <bean id="cource2" class="CollectionXml.Cource"><property name="cource" value="Hdfs"/> </bean>
    <bean id="cource3" class="CollectionXml.Cource"><property name="cource" value="Hive"/> </bean>
    <bean id="cource4" class="CollectionXml.Cource"><property name="cource" value="HBase"/> </bean>
    <!--公共值抽取以及注入-->
    <util:list id="listtest">
        <value>1</value>
        <value>2</value>
        <value>3</value>
    </util:list>
    <bean id="list1" class="CollectionXml.ListPojo">
        <property name="list" ref="listtest"/>
    </bean>

    <bean id="fb1" class="FactoryBeans.MyBean">
    </bean>

    <bean id="a1" class="CollectionXml.Cource" scope="prototype"><property name="cource" value="Spark"/> </bean>

    <bean id="cycle1" class="JavaBean.Life" init-method="init" destroy-method="drop">
        <property name="string" value="any"/>
    </bean>

    <!-->配置后置处理器方法<-->
    <bean id="MyBeanPost" class="JavaBean.MyBeanPost" />
    <bean id="MyBean" class="Assembly.ManualAssembly.BeanPostClass"/>


    <!-->手动装配<-->
    <bean id="emp4" class="Assembly.ManualAssembly.Emp">
        <property name="dept" ref="dept4"/>
    </bean>
    <bean id="dept4" class="Assembly.ManualAssembly.Dept"/>

</beans>